<%-include('include/header')%>
    <div class="view-table">
        <div class="row">
            <div class="column">
                <h2>ID</h2>
                <hr />
            </div>
            <div class="column">
                <h2>Name</h2>
                <hr />
            </div>
            <div class="column">
                <h2>Roll</h2>
                <hr />
            </div>
            <div class="column">
                <h2>Father</h2>
                <hr />
            </div>
            <div class="column">
                <h2>Address</h2>
                <hr />
            </div>
            <div class="column">
                <h2>Phone</h2>
                <hr />
            </div>
            </div>
            <%for(var i=0;i<rows;i++) {%>
            <div class="row">
             <div class="column">
                <h2><%=data[0][i]%></h2>
            </div>
            <div class="column">
                <h2><%=data[1][i]%></h2>
            </div>
            <div class="column">
                <h2><%=data[2][i]%></h2>
            </div>
            <div class="column">
                <h2><%=data[3][i]%></h2>
            </div>
            <div class="column">
                <h2><%=data[4][i]%></h2>
            </div>
            <div class="column">
                <h2><%=data[5][i]%></h2>
            </div>

            </div>
            <%}%>
    </div>
 <script>
let table = document.querySelector('.view-table');
 
</script>
</body>
</html>